{% extends "Base/Base.html" %}
{% block body %}

 <!-- electronic section start -->
 {% for sub_category in sub_categories %}
   <div class="fashion_section">
      <div id="electronic_main_slider" class="carousel slide" data-ride="carousel">
         <div class="carousel-inner">
            <div class="carousel-item active">
               <div class="container">
                <h1 class="fashion_taital">{{sub_category}}</h1>
                  <div class="fashion_section_2">
                     <div class="row">
                        
                        <div class="col-lg-4 col-sm-4">
                           <div class="box_main">
                            <div class="electronic_img"><img src={{sub_category.sub_image.url}}></div>
                            <div class="btn_main">
                              <div class="seemore_bt"><a href={{sub_category.get_url}}>See More</a></div>
                           </div>
                           
                        </div> 
                              
                     </div>
                  </div>
               </div>
            </div>         
         </div>
                     
       
      </div>
   </div>

 {% endfor %}
 {% endblock body %}